<footer>
    <div class="row">
        <div class="col"><label class="font1">Subscribase al boletin de...</label></div>
        <div class="col">
            <div class="input-group mb-1">
                <input type="text" class="form-control" placeholder="Escriba su correo electronico" aria-describedby="button-addon2">
                <button class="btn " type="button" id="button-addon2">OK</button>
            </div>
        </div>
    </div>
    <div class="cont-footer">
        <div>
            <ul>
                <label>Servicios al Cliente</label>
                <li>Envio</li>
                <li>Opiniones de clientes</li>
                <li>Politica de devoluciones</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <label>Acerca del proyecto</label>
                <li>
                    <a class="nav-link" routerLink="artista">Acerca del Artista</a></li>
                <li>Artista</li>
                <li>Contactos</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <label>Servicios Artisticos</label>
                <li>Encargue una obra</li>
            </ul>
        </div>
        <div class="col-3">
            <label>Siganos:</label>
            <div class="iconoslist">
                <button><a><img src="../assets/iconos/icons8-facebook-rodeado-de-círculo.svg"></a></button>
                <button><a><img src="../assets/iconos/icons8-aplicación-telegrama.svg"></a></button>
                <button><a><img src="../assets/iconos/icons8-instagram-48.svg"></a></button>
            </div>
        </div>
    </div>
</footer>
