<article>
    <div class="imgslider">
        <div class="textpresentacion">
            <h1 class="font1 encabezado"><strong>Bienvenido</strong></h1>
            <h3 class="font1"><strong>¿Preparado para<br> conocer lo <br>desconocido?</strong></h3>
            <button type="button" class="btn btn-warning btn-lg "><strong class="font1">Explorar Galeria</strong></button>
        </div>

        <div class="slider">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/img/Brown Background Coffee Cup.jfif" class="d-block w-100" alt="36vh">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/Brown Background Coffee Cup.jfif" class="d-block w-100" alt="36vh">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/Brown Background Coffee Cup.jfif" class="d-block w-100" alt="36vh">
                    </div>
                </div>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</article>
<div class="tittle-caruselimg">

    <h1 class="font1 encabezado "><strong> Descubre las obras que te<br>Cambiaran la vida</strong></h1>

    <p>Ver todas las obras</p>
</div>
<app-slider-imagen class="img-slider"></app-slider-imagen>
<hr>
<div class="Acerca-autor">
    <div class="text-autor">
        <h1 class="font1"><strong>Acerca del Artista...</strong></h1>
        <div class="text-contenido font1">
            Los lienzos de Leonel Pérez Morejón resultan, a la postre, transgresores de la mera función hedonística latente en sus paisajes. Con su poder sugestivo e intrigante constituyen una mirada al alma cubana contemporánea. Un atisbo a esa titilante pero inextinguible
            luz interior.
        </div>
        <br>
        <h3 class="text-contenido font1"> Rigoberto Almaguer <br>20 julio de 2022</h3>
    </div>

    <img src=" ../../../assets/img/cafe-descafeinado-1636986332.jpeg ">
</div>
