<div class="row justify-content-md-center content">

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cuadro-card">
                <div class="example-card">

                    <img mat-card-image src="../assets/img/Cafe Promotion Poster Background Material.jfif" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h3>El Flrodita<br> Cuba la Habana 2022<br> 100x120
                        </h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <h3>$440</h3>
                        <div class="boton">
                            <button class="b-ico"><mat-icon class="i_search "  >favorite </mat-icon></button></div>
                    </mat-card-actions>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
