<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> Bootstrap
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link  font1" aria-current="page" href="#"> Artista</a>
                <a class="nav-link font1" routerLink="galeria">Galeria</a>
                <a class="nav-link font1" routerLink="artista">Artista</a>
                <a class="nav-link font1" href="#">BLog</a>
                <a class="nav-link font1" href="#">Contacto</a>
            </div>
        </div>
        <div class="var-icons">
            <div class="demo-section">
                <div *ngIf="!buscar"> <button class="b-ico "> <mat-icon class="i_search" (click)="busqueda()" >search</mat-icon></button></div>
                <div *ngIf="buscar">
                    <div class="input-group ">
                        <button class="b-ico "> <mat-icon class="i_search" (click)="busqueda()" >search</mat-icon></button>
                        <input type="text" class="form-control" placeholder="Categoria,temas...">
                    </div>
                </div>
            </div>
            <div class="demo-section">
                <button class="b-ico"><mat-icon class="i_search" >language</mat-icon></button>
            </div>
            <div class="demo-section">

                <select matNativeControl id="mySelectId" class="moneda">
                  <option value="USD">$&emsp;USD&emsp;💵</option>
                  <option value="EUR">€&emsp;EUR&emsp;💶</option>
                </select>

            </div>
            <div class="demo-section">
                <button class="b-ico"><mat-icon class="i_search" >account_circle </mat-icon></button>
            </div>
            <div class="demo-section">
                <button class="b-ico"><mat-icon class="i_search" matBadge="12" matBadgeColor="warn" matBadgePosition="below" matBadgeOverlap="false">favorite</mat-icon></button>
            </div>
            <div class="demo-section">
                <button class="b-ico"><mat-icon class="i_search" matBadge="15" matBadgeColor="warn" matBadgePosition="below" matBadgeOverlap="false">shopping_cart </mat-icon></button>
            </div>

        </div>
    </div>
</nav>
