<div class="content">
    <div class="img-artista">
        <label class="font1 encabezado">Leonel Perez Morejon</label>
        <button type="button" class="btn btn-warning btn-lg buton1">
        <a class="" href="#cuadrosartist">Cuadros del Artista</a>
      </button>
        <button type="button" class="btn btn-warning btn-lg buton2">
        <a class="" href="#infoartis">Acerca del Artista</a>
      </button>
    </div>
    <div id="infoartis">
        <!-- Contenido de la sección Acerca del Artista aquí -->
    </div>
    <div id="cuadrosartist">
        <!-- Contenido de la sección Cuadros del Artista aquí -->
    </div>
</div>
